body {
  font-family: courier, sans-serif;
}

.alert {
  display: block;
  width: 100%;
  padding: 5px;
  background: #AA0000;
  color: #fff;
}

.app-status {
  display: block;
  width: 100%;
  margin: 0px;
  padding: 5px;
  background: #CCCCCC;
  text-align: center;
}

.goal-label {
  width: 250px;
  display: inline-block;
}

.goal-end {
  width: 120px;
  display: inline-block;
}

.amount-input {
  width: 100px;
  display: inline-block;
}

.amount-done {
  width: 100px;
  display: inline-block;
  padding-right: 10px;
}

.progress-bar {
  border: solid #000 1px;
  display: inline-block;
  margin-right: 5px;
}
.progress-bar span {
  white-space: pre;
}

.progress-red {
  color: #AA2200;
}

.progress-green {
  color: #33BB33;
}

.progress-grey {
  color: #AAAAAA;
}

.on-track-required {
  width: 50px;
  display: inline-block;
}

.expired-goal-form {
  display: inline-block;
  margin-left: 30px;
}

.expired-goal-form input {
  display: inline;
}
