body {
  font-family: courier, sans-serif;
}

.goalLabel {
  width: 200px;
  display: inline-block;
}

.amountInput {
  width: 100px;
  display: inline-block;
}

.amountDone {
  width: 100px;
  display: inline-block;
  padding-right: 10px;
}

.progress-bar {
  border: solid #000 1px;
  display: inline-block;
  margin-right: 5px;
}
.progress-bar span {
  white-space: pre;
}

.progress-red {
  color: #AA2200;
}

.progress-green {
  color: #33BB33;
}

.onTrackRequired {
  width: 30px;
  display: inline-block;
}
